<%= form_tag recipes_url, method: :get do %>
  <label for="query">Keywords: </label>
  <input type="search" id="query" name="q" value="<%= params[:q] %>">

  <%=select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), :include_blank => true  %>

  <input type="submit" value="Search">
<% end %>
